.center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.blank {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
  width: 47vw;
  min-width: 400px;
  height: 80vh;
}
