.submitButton {
  position: absolute;
  top: 0.95em;
  right: 1em;
  height: 2.2em;
  padding: 0 0;
  transform: scale(1.4);
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}

.submitButton:hover {
  scale: 1.03;
  opacity: 60%;
}

.submitButton:active {
  scale: 1.04;
}

.submitButton:focus {
  outline: none;
}
