* {
    box-sizing: border-box;
  }

.form {
    position: relative;
    margin: 1em;
    align-items: center;
}
.PromptInput {
    display: block;
    outline: none;
    width: 100%;
    height: 3.5em;
    transition: border-color 0.3s ease-in-out;
    line-height: 3em;
    min-width: 400px;
    border-radius: 1em;
    width: 47vw;
    border: 1px solid;
    padding: 0 2em;
}

.PromptInput:hover, :focus {
    border-color: #ffdd2d;
}
