.Bot{
    display: block;
    flex-direction: column;
    width: fit-content;
    max-width: 40em;
    height: fit-content;
    background-color: #ffdc2dbb;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0.3em;
    border: 1px solid #eaecee;
    border-radius: 1em;
    padding: 17px;
    align-self: flex-start;
}

.Bot p, .Bot span, .User p, .User span {
    display: inline; /* Используйте inline вместо block */
    width: auto; /* Убедитесь, что ширина не занимает всю ширину родителя */
    white-space: normal;
    margin-bottom: 1em; /* Разрешите перенос текста на новую строку */
}

.User{
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin: 0.3em;  
    border-radius: 1em;
    padding: 15px;
    max-width: 40em;
    align-self: flex-end;
    word-wrap: break-word; /* Добавляем это свойство */
}